.carousel{
    margin-top: 10%;
}

.carousel-inner{
    border-radius: 10px;
}

.navbar{
background-color: #1f4cd1;
color: white;
}

.container-xxl{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}